

.premier{

box-shadow: 1px 1px 19px;
background-color:yellow;
 padding: 10px;
outline-style: inset;

}

.deuxieme{

box-shadow: 1px 1px 19px;
background-color:yellow;
 padding: 10px;
font-family: cursive;


}	

.modi{background-color:grey;
	color:white;
	float:left;
	width:300px;
	height:300px;
	
}